.cont{
    width: 400px;
    height: 400px;
}

.cont1{
    width: 70px;
    height: 70px;
    transform:translateX(0);
    transition:transform 3s ease-in-out;
   
}

.cont1:hover{
    right: 0;
    transform:translateX(0);
    transition:transform 3s ease-in-out;
}



  