/* .col{
    border: 1px solid #000;
    margin-bottom: 10px;
}



.col-sm-4{
    border: 1px solid #000;
    margin-bottom: 10px;
}

.col-md-4{
    border: 1px solid #000;
}

.col-lg-7{
    border: 1px solid #000;
    margin-top: 10px;
} */